# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. MySQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numpy
3. ggplot
4. matplotlib

|Data Science Tools|
|---|
|Wastson|
|H2O Driverless AI|
|Azure|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5

17

In [2]:
x = 200
y = x/60
print(y)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

List popular languages for Data Science:
* R
* Python
* C++
* C

## Author
name